body {
    background-color: aquamarine;
}

.jumbotron {
    background-color: #20315A; 
    color: white;
}

.panel > .panel-info {
    background-image: none;
    background-color: #20315A; 
    color: white;
    font-weight: bold;
    padding-left: 75vw;
}
